
/* Rozdzielczość od 993 do 1170 */
@media all and (min-width:993px) and (max-width:1170) {
	body {
	background-image: url('../img/man-2.jpg'); /* nie działa */
	background-repeat: no-repeat;
	width: 70%;
	text-align: top, right; /* nie działa */
    }
	}

/* Rozdzielczość poniżej 992px */
 @media all and (max-width:992px) {
	 body {
	background-image: url('../img/man-1.jpg');
	background-repeat: no-repeat;
  width: 49%;
    }
	}

		#header {
		  display: inline-block;
		  text-align: : bottom, center; /* nie działa */

}
